.ChallengePage{
    border: 3px solid pink;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: scroll;
    padding: 1% 5% 0 5%;
}
.ChallengePage>div{
    box-sizing: border-box;
}
.ChallengePage::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.ChallengePage{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.chCard-outer{
    display: inline-block;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0% 0% 3% 3%;
    box-shadow: 5px 5px 5px rgb(214, 213, 213);
}
.challengeCard{
    width: 100%;
    height: 99%;
    padding: 0px 0px;
    border-radius: 10px;
    border: 7px solid transparent;
    background-origin: border-box; 
    background-clip: content-box, border-box; 
    background-image : linear-gradient(#fff, #fff), linear-gradient(195deg, #9714d4 24%, #005dd6 90%);
    position: relative;
}
.chCard-outer:hover{
    transform : scale(1.01);
}
.chTitle{
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    height: 60px;
    padding-top: 10px;
    border: 0px solid rgb(225, 225, 225);
    font-weight: bolder;
    /* background: rgb(225, 225, 225); */
    background-image : linear-gradient(195deg,#9714d4 24%, #005dd6 90%);
    color: white;
}
.chCategory{
    border: 0px solid skyblue;
    height: 15%;
    padding-left: 15px;
    padding-top: 8px;
    font-size: large;
    font-weight: bold;
    /* background: rgb(225, 225, 225); */
}
.chDate{
    height: 13%;
    font-size: 18px;
    text-align: right;
    padding-right: 10px;
    border: 0px solid skyblue;
    /* background: rgb(225, 225, 225); */
}
.chCount{
    text-align: right;
    font-size: 24px;
    width: 100%;
    padding-right: 10px;
    border: 0px solid skyblue;
    /* background: rgb(225, 225, 225); */
    position: absolute;
}
.chWriterPic{
    border: 2px solid rgb(225, 225, 225);
    border-radius: 30px;
    width: 70px;
    height: 70px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}
.chWriter{
    border: 0px solid rgb(225, 225, 225);
    border-bottom: 0px solid black;
    height: 20px;
    float: left;
    margin-top: 10%;
    margin-left: 2px;
    font-weight: bold;
    font-size: 17px;
}

.chDetail>div{
    box-sizing: border-box;
}
.chDetail{
    border: 3px solid pink;
    height: 100%;
}
.dtBtn{
    border: 3px solid rgb(59, 21, 212);
    /* width: 100%; */
    height: 70px;
} 
.btnBack{
    border: 3px solid rgb(44, 45, 46);
    float: left;
}
.btnss{
    border: 3px solid skyblue;
    float: right;
    margin-top: 16px;
}
.dtTitle{
    border: 3px solid skyblue;
    height: 60px;
    text-align: center;
    font-size: 35px;
}
.dtDate{
    border: 3px solid skyblue;
}
.dtCountUser{
    border: 3px solid skyblue;
}
.dtStart{
    border: 3px solid skyblue;
}
.dtInfo{
    border: 3px solid skyblue;
}
.dtDate{
    border: 3px solid skyblue;
}
.dtTodo{
    border: 3px solid skyblue;
}
.dtCountUser2{
    border: 3px solid skyblue;
}
.dtUser{
    border: 3px solid skyblue;
}