@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Barlow:wght@300;400&family=IBM+Plex+Sans+KR&family=Montserrat&display=swap');

.ChallengePage{
    border: 0px solid pink;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: scroll;
    padding: 1% 5% 0 5%;
}
.ChallengePage>div{
    box-sizing: border-box;
}
.ChallengePage::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.ChallengePage{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.chCard-outer{
    display: inline-block;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0% 0% 3% 3%;
    box-shadow: 5px 5px 5px rgb(214, 213, 213);
}
.challengeCard{
    width: 100%;
    height: 99%;
    padding: 0px 0px;
    border-radius: 10px;
    border: 7px solid transparent;
    background-origin: border-box; 
    background-clip: content-box, border-box; 
    background-image : linear-gradient(#fff, #fff), linear-gradient(195deg, #9714d4 24%, #005dd6 90%);
    /*background-image : linear-gradient(#fff, #fff), linear-gradient(195deg, #050505 24%, #000000 90%);*/
    position: relative;
}
.chCard-outer:hover{
    transform : scale(1.01);
}
.chTitle{
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    height: 60px;
    padding-top: 10px;
    border: 0px solid rgb(225, 225, 225);
    font-weight: bolder;
    background: rgb(225, 225, 225);
    background-image : linear-gradient(195deg,#9714d4 24%, #005dd6 90%);
    /*background-color: #000000;*/
    color: white;
}
.chCategory{
    border: 0px solid skyblue;
    height: 15%;
    padding-left: 15px;
    padding-top: 8px;
    font-size: large;
    font-weight: bold;
    /* background: rgb(225, 225, 225); */
}
.chDate{
    height: 13%;
    font-size: 18px;
    text-align: right;
    padding-right: 10px;
    border: 0px solid skyblue;
    /* background: rgb(225, 225, 225); */
}
.chCount{
    text-align: right;
    font-size: 24px;
    width: 100%;
    padding-right: 10px;
    border: 0px solid skyblue;
    /* background: rgb(225, 225, 225); */
    position: absolute;
}
.chWriterPic{
    border: 2px solid rgb(225, 225, 225);
    border-radius: 30px;
    width: 70px;
    height: 70px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}
.chWriter{
    border: 0px solid rgb(225, 225, 225);
    border-bottom: 0px solid black;
    height: 20px;
    float: left;
    margin-top: 10%;
    margin-left: 2px;
    font-weight: bold;
    font-size: 17px;
}

.chDetail>div{
    box-sizing: border-box;
    /* padding-left: 10px; */
    margin-top: 3px;
}
.chDetail{
    border: 0px solid pink;
    height: 100%;
    overflow: scroll;
}
.chDetail::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.chDetail{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.dtBtn{
    border: 0px solid rgb(59, 21, 212);
    /* width: 100%; */
    height: 60px;
} 
.btnBack{
    border: 0px solid rgb(44, 45, 46);
    float: left;
    height: 100%;
}
.btnss{
    border: 0px solid skyblue;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.dtTitle{
    border: 0px solid skyblue;
    height: 60px;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 10px;
    background-color: rgb(245, 245, 245);
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.dtDate{
    border: 0px solid skyblue;
    font-size: 20px;
    width: 70%;
    margin: auto;
    padding-left: 10px;
}
.dtCountUser{
    border: 0px solid skyblue;
    font-size: 20px;
    width: 70%;
    margin: auto;
    padding-left: 10px;
}
.dtStart{
    border: 0px solid skyblue;
    font-size: 22px;
    font-weight: bold;
    width: 70%;
    margin: auto;
    padding-left: 10px;
}
.dtInfo{
    border: 0px solid skyblue;
    border-radius: 10px;
    font-size: 26px;
    font-weight: bold;
    width: 70%;
    height: 50px;
    margin: auto;
    padding-top: 7px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.dtInfo2{
    border: 0px solid skyblue;
    border-radius: 10px;
    font-size: 20px;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(245, 245, 245);
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.dtTodo{
    border: 0px solid skyblue;
    width: 55%;
    height: 400px;
    margin: auto;
    margin-bottom: 20px;
    /* padding: 20px; */
    padding-left: 0px;
    overflow: scroll;

    border-radius: 20px;
    border: 3px solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    background-origin: border-box;  
    background-clip: content-box, border-box; 
}
.dtTodo::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.dtTodo{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.CheckCircle{   
    width: 32px;
    height: 32px;
    color : #FFEE4E;
    border-radius: 16px;
    border: 3px solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(90deg, rgba(230, 255, 0, 0.85), rgba(0, 149, 255, 0.46));
    background-origin: border-box; 
    background-clip: content-box, border-box; 
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
}
.chDtTodo{
    /* padding: 15px 0px 0px 20px; */
    font-size: 20px;
    border: #005dd6 0px solid;
    margin: 18px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.dtCountUser2{
    border: 0px solid skyblue;
    border-radius: 10px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    width: 70%;
    height: 50px;
    margin: auto;
    padding-top: 7px;
    padding-left: 10px;
    background-color: rgb(245, 245, 245);
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.dtUser{
    border: 0px solid skyblue;
    border-radius: 10px;
    font-size: 22px;
    width: 70%;
    margin: auto;
    padding: 10px;
    background-color: rgb(245, 245, 245);
}
.dtUserPic{
    border: 1px dashed rgb(0, 0, 0);
    border-radius: 30px;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    font-size: 10px;
}
.dtUserNic{
    border: 0px solid skyblue;
    border-bottom: 0px solid black;
    height: 50px;
    padding-top: 10px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}