// & {
//   width:500px;
//   background-color: #ededed;
//   margin: 50px auto;
//   padding:20px 10px;
//   border-radius: 20px;
//   box-shadow:  41px 41px 82px #c9c9c9,
//     -41px -41px 82px #ffffff;
// }
/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }

/* input type number 에서 화살표 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#chatt{
	width: 100%;
	//margin: 0 auto;
  #title{
    font-size: 30px;
    font-family: 'SourceSansPro-Light';
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 10px;
    background-color: black;
    color: #fff;
    height: 60px;
    font-family:'Lobster-Regular'
  }

  #talk{
    width: 100%;
    height: 536px;
    // overflow: scroll;
    border-radius: 0px;
    //position: relative;
    border: 0px solid pink;
    background: #f4f4f4;
    background: #ffffff;
    padding: 10px;
    //margin-bottom: 20px;
  }
  .uu{
    border: 1px solid #ffffff;
    height: 100px;
    margin-bottom: 20px;
  }
  .me2{
    float: right;
    border: 0px solid #091c9a;
    //position: relative;
    margin-top: 0px;
    padding-right: 6px;
    height: 20%;
    font-weight: bold;
  }
  .me{
    background-color : rgba(180, 135, 203, 0.27);
    margin : 30px 0px 0px 40%;
    border-radius: 10px;
    //height: 20%;
    border: 0px solid #091c9a;
    width: 60%;
    //float: right;
    text-align: right;
    padding: 6px;
    padding-right: 10px;
  }
  .me3{
    float: right;
    color: #c2c2c2;
    margin-top: 2px;
  }
  .other2{
    float: left;
    border: 0px solid #da0329;
    margin-top: 20px;
    height: 20%;
    font-weight: bold;
  }
  .other{
    margin: 50px 0px 2px 0px;
    background-color: rgba(244, 241, 38, 0.27);
    border-radius: 10px;
    width: 60%;
    padding: 6px;
    padding-left: 10px;
  }
  .other3{
    color: #c2c2c2;
    margin-top: 2px;
  }

  .chatMsg{
    border: 0px solid #219d08;
  }
  .chatDate{
    border: 0px solid skyblue;
    //float: right;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 4px;
  }

  #name{
    display: block;
    border: 1px solid #dcdcdc;
    background-color: #EDEDED;
    padding:5px 2px;
    margin-top: 17px;
  }

  #sendZone{
    > * {vertical-align: top;}
    margin-top: 0px;
    $sendZone-H : 70px;
    display: flex;

    #msg{
      width: 90%;
      height: $sendZone-H;
      display: block;
      resize: none;
      border: 1px solid #dcdcdc;
      background-color: #fff;
      box-sizing: border-box;
    }
    #btnSend{
      width: 15%;
      height: $sendZone-H;
      border: 1px solid #dcdcdc;
    }
  }
}