.JoinBackCol {
    background-color: #BA99C3;
    width: auto;
    height: 100vh;
}


.JoinArea {
    /* border: 1px solid #ba99c396; */
    /* box-shadow: 0px 0px 5px 5px #ba99c396; */
    box-sizing: border-box;
    width: 35rem;
    height: 45rem;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 15px;
    z-index: 3;
}

.logo {
    width: 80%;
    box-sizing: border-box;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    /* border: 1px solid black; */
}

.intro {
    text-align: center;
    color: #BA99C3;
    /* border: 1px solid black; */
    margin-top: 0px;
    font-weight: bolder;
}

.profInput {
    margin-top: 10px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: auto;
    text-align: left;
    margin-left: 4rem;
}

.chAlarm {
    text-align: left;
    margin-left: 0.5rem;
    box-sizing: border-box;
    margin-top: 2px;
    font-size: 11px;
}

.noAlarm {
    color: red;
}

.okAlarm {
    color: green;
}


.profInput div {
    margin: 20px;
    padding: 0px;
}

.profInput div:first-child {
    margin-top: 0px;
}

.profInput input {
    height: 2.5rem;
    border: 1.8px solid #BA99C3;
    padding-left: 15px;
}


.longInput {
    width: 25rem;
}


.shortInput {
    width: 19.1rem;
}



.joinBtnArea {
    margin: auto;
    text-align: center;
}

.joinBtnArea button {
    width: 12rem;
    height: 2.5rem;
    margin: 0 1rem;
    border: 1px solid lightgray;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
}

.joinBtn:disabled {
    background-color: #ba99c383;
}

.joinBtn:enabled {
    background-color: #BA99C3;
}

.joinBtn:enabled, hover {
    cursor: pointer;
}


.backHomeBtn {
    background-color: rgb(146, 146, 146);
}



/* 체크 버튼 */
.chBtn {
    background-color: white;
    border: 0.5px solid gray;
    color: gray;
    font-weight: bold;
    width: 5.5rem;
    height: 2.3rem;
    border-radius: 15px;
    position: absolute;
    margin-left: 0.3rem;
}

.chBtn:hover {
    cursor: pointer;
    background-color: #ffff00;
    color: black;
}
