.setNickWrap {
    box-sizing: border-box;
    border: 2px solid #BA99C3;
    border-radius: 15px;
    background-color: white;
    width: 45rem;
    height: 25rem;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    /* padding: 50px 80px; */
    padding-top: 0px;
}

.setNickLogo {
    width: 8rem;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    position: absolute;
    top: -350px;
    right: 0;
    bottom: 0;
    left: -3%;
    z-index: 5;
}

.setNickInputArea {
    /* border: 1px solid red; */
    margin: auto;
    padding-left: 0;
    text-align: center;
}

.setNickInput {
    width: 25rem;
    height: 2.5rem;
    margin-left: -50px;
}

.setNickInputArea p {
    margin-left: 65px;
}

