.feed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    /*overflow: hidden;*/
    /*border: 1px solid red;*/
}

.feed {
    width: 36%;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;

}

.feed-header {
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.feed-header-left {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;

}

.feed-header-right {
    width: 100%;
}

.feed-photo {
    width: 100%;
    height: 65%;
    /*border: 1px solid red;*/
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feed-body {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 6%;
}

.feed-content {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 14px;
}
