.te{
    border: 1px solid black;
    width: 500px;
    height: 650px;
    text-align: center;
    margin-top: 40px;

}
.a{
    border: 1px solid black;
    width: 500px;
    height: 100px;
}
.b{
    border: 1px solid black;
    width: 500px;
    height: 300px;
}
.b > img{
    width: 400px;
    height: 200px;
}
.c{
    border: 1px solid black;
    width: 250px;
    height: 100px;
    display: inline-block;
    float: left;
}
.d{
    display: inline-block;
    border: 1px solid red;
    width: 200px;
    height: 100px;
    float: right;
}
.e{

    border: 3px solid orange;
    text-align: left;
}
.f{
    border: 2px solid green;
    height: 150px;
}
