.feed-insert{
    display: flex;
/*    flex-direction: column;*/
/*    !*align-items: center;*!*/
/*    margin-top: 80px;*/
/*    height: 700px;*/
/*    border: 1px solid red;*/

}
.feed-insert-body{
    height: 620px;
    border-radius: 6px;
    border: 2px solid black;
}

.feed-insert-button{
    float: right;
}