.outer_all{
    border: 1px solid black;
    width: 973px;
    height: 720px;
    margin-left: -3px;
}
.outer_1{
    border: 1px solid blue;
    width: 50%;
    height: 100%;
    float: left;
}
.outer_2{
    border: 1px solid green;
    width: 50%;
    height: 100%;
    float: left;
}
.outer_top3{
    border: 1px solid coral;
    width: 100%;
    height: 30%;
}
.outer_rank{
    border: 1px solid sienna;
    width: 100%;
    height: 70%;
}
.outer_t3{
    border: 1px solid springgreen;
    width: 33.3%;
    height: 100%;
    float: left;
}
.outer_t1{
    border: 1px solid tomato;
    width: 33.3%;
    height: 100%;
    float: left;
}
.outer_t2{
    border: 1px solid violet;
    width: 33.3%;
    height: 100%;
    float: left;
}
.outer_chall{
    border: 1px solid steelblue;
    width: 97.5%;
    height: 100px;
    margin: auto;
}
.chatting-area{
    border: 1px solid royalblue;
    margin:auto;
	height:1217px;
	width:727px;
	margin-bottom:50px;
}
.inputChatting{
    width: 75%;
    resize:none;
}
.send{
    width: 23%;
    height: 70px;
}   
.input-area{
    width:100%;
	display:flex;
    margin-top: -125px;
    margin-left: 10px;
}
.display-chatting{
    overflow:auto;
	list-style:none;
}
#hbtn:hover{
    letter-spacing: 10px;
    transform: scale(1.3);
    cursor: pointer;
    transition: all 0.5s;
  }

.outer_rank::-webkit-scrollbar {
    width: 7px;  /* 스크롤바의 너비 */
    height: 0px;
}
.outer_rank::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: none; /* 스크롤바의 색상 */
    border-radius: 10px;
}
