.menubar-box{
    box-sizing: border-box;
    display: inline-block;
    border: 0px dotted pink;
    width: 67%;
    height: 100%;
    margin: auto;
}
.menuBar{
    /*padding: 1rem; */
    background: rgb(225, 225, 225);
    width: 100%;
    height: 7%;
    margin-bottom: 1rem;
    text-align: center;
    /* margin-left: -100px; */
}
.contentArea{
    width: 100%;
    height: 87%;
    margin: auto;
    border: 0px dotted skyblue;
}
.tabs {
    height: 13%;
}
.tabs li{
    font-size: 37px;
    font-weight: bold;
    display: inline-block;
    color: #c4c4c4;
    color: rgb(249, 249, 249);
    padding: 23px 40px;
}
.tabs li.active{
    color: black;
    height: 100%;
}

