.profile-box div{
    box-sizing: border-box;
}
.pro-pic{
    border: 1px solid orange;
    height: 100px;
    width: 20%;
    float: left;
}
.pro-nic{
    border: 1px solid orange;
    height: 100px;
    width: 20%;
    float: left;
}
.pro-post-count{
    border: 1px solid orange;
    height: 100px;
    width: 20%;
    float: left;
    text-align: right;
}
.pro-following-count{
    border: 1px solid orange;
    height: 100px;
    width: 20%;
    float: left;
    text-align: right;
}
.pro-follower-count{
    border: 1px solid orange;
    height: 100px;
    width: 20%;
    float: left;
    text-align: right;
}
.pro-intro{
    border: 1px solid rgb(16, 160, 52);
    height: 100px;
    width: 100%;
    background-color: rgb(16, 160, 52);
}
.pro-pic img{
    height: 95%;
    width: 95%;
    border-radius: 10px;
}
hr{
    border: 1px solid black;

}