.menubar-box{
    box-sizing: border-box;
    border: 1px solid pink;
    width: 45%;
    height: 100%;
    float: left;
    margin: auto;
}
.menuBar{
    /* padding: 1rem; */
    background: white;
    width: 100%;
    margin-bottom: 1rem;
}
.tabs li{
    font-size: 33px;
    font-weight: bold;
    display: inline-block;
    color: #c4c4c4;
    padding: 1rem;
}
.tabs li.active{
    color: black;
    height: 100%;
}