.outer{
    border: 1px solid black;
    width: 1900px;
    height: 1000px;
    margin: auto;
    margin-top: 100px;
}
.outer_date{
    border: 1px solid red;
    width: 33%;
    height: 100%;
    float: left;
}
.outer_pro{
    border: 1px solid blue;
    width: 45%;
    height: 100%;
    float: left;
}
.outer_menu{
    border: 1px solid green;
    width: 21.4%;
    height: 100%;
    float: right;
}
.outer_MyPro{
    border: 1px solid sienna;
    width: 85%;
    height: 27%;
    margin: auto;
    margin-top: 10px;
}
.outer_Feed{
    border: 1px solid springgreen;
    width: 85%;
    height: 65%;
    margin: auto;
    margin-top: 0px;
}
.outer_Chall{
    border: 1px solid violet;
    width: 85%;
    height: 65%;
    margin: auto;
    margin-top: 0px;
}
.outer_Temp{
    border: 1px solid tomato;
    width: 85%;
    height: 65%;
    margin: auto;
    margin-top: 0px;
}
.outer_btn{
    border: 1px solid salmon;
    margin: auto;
    width: 85%;
}
.myBtn{
    width: 33.3%;
    height: 40px;
    font-size: 17px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0.1px solid black;
    background-color: Transparent;
}
.outer_myMenu{
    border: 1px solid palevioletred;
    width: 100%;
    height: 94%;
    background-color: darkgrey;
}
.menuBtn{
    border: 1px solid sienna;
    width: 100%;
    height: 5%; 
}
.mybtn1{
    width: 17%;
    height: 100%;
    float: right;
    border: 0;
    background: none;
    background-color: Transparent;
}
.outer_menuPro{
    border: 1px solid royalblue;
    width: 100%;
    height: 8%;
    margin-top: 50px;
    background-color: aqua;
}
.outer_3menu{
     border: 1px solid tomato;
     width: 100%;
     height: 5%;
     background-color: burlywood;
}
.outer_req1{
    border: 1px solid teal;
    width: 100%;
    height: 73%;
    margin-top: 20px;
    background-color: teal;
}
.outer_req2{
    border: 1px solid yellow;
    width: 100%;
    height: 73%;
    margin-top: 20px;
    background-color: yellow;
}
.outer_proimg{
    border: 1px solid cornflowerblue;
    width: 30%;
    height: 100%;
    background-color: chartreuse;
}
.outer_id{
    border: 1px solid thistle;
    width: 69%;
    height: 20%;
    float: right;
    box-sizing: border-box;
    margin-top: -265px;
    background-color: cadetblue;
}
.outer_fall{
    border: 1px solid skyblue;
    width: 69%;
    height: 20%;
    float: right;
    margin-top: -216px;
    box-sizing: border-box;
    background-color: coral;
}
.outer_content{
    border: 1px solid thistle;
    width: 69%;
    height: 67%;
    float: right;
    margin-top: -180px;
    box-sizing: border-box;
    background-color: darkcyan;
}
.outer_feedThum{
    border: 1px solid tomato;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 32.4%;
    height: 33%;
    float: left;
}
.profileImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: gainsboro;
}
.outer_sub{
    border: 1px solid red;
    height: 677px;
}
.outer_feedImg{
    border: 1px solid blue;
    width: 60%;
    height: 90%;
    float: left;
}
.outer_feedContent{
    border: 1px solid green;
    width: 40%;
    height: 30%;
    float: left;
}
.outer_feedReply{
    border: 1px solid slateblue;
    width: 40%;
    height: 70%;
    float: left;
}
.outer_feedHart{
    border: 1px solid violet;
    height: 10%;
    width: 100%;
    margin-top: 5px;
    float: left;
}
.searchbar{
    width: 70%;
    height: 50px;
}
.searchbtn{
    width: 30%;
    height: 51.5px;
}