.outer_proUpdate{
    border: 1px solid turquoise;
    width: 27%;
    height: 100%;
    margin-left: 70px;
    float: left;
}
.outer_myProUpdate{
    border: 1px solid tomato;
    width: 100%;
    height: 30%;
    margin-top: 120px;
}
.outer_proUpBtn{
    border: 1px solid steelblue;
    width: 100%;
    height: 6%;
}
.outer_mypId{
    border: 1px solid sienna;
    width: 100%;
    height: 6%;
}
.outer_myFall{
    border: 1px solid seagreen;
    width: 100%;
    height: 5%;
}
.outer_myName{
    border: 1px solid yellowgreen;
    width: 100%;
    height: 5%;
    margin-top: 100px;
}
.outer_myEmail{
    border: 1px solid sienna;
    width: 100%;
    height: 5%;
}
.outer_myPhone{
    border: 1px solid royalblue;
    width: 100%;
    height: 5%;
}
.outer_myContent{
    border: 1px solid rebeccapurple;
    width: 50%;
    height: 100%;
    float: right;
    margin-right: 200px;
    box-sizing: border-box;
}
.myBtnSp{
    width: 10%;
    border-radius: 10%;
    margin-bottom: 15px;
}
.outer_myNickUpdate{
    border: 1px solid seagreen;
    width: 27%;
    height: 4%;
    margin-left: 70px;
    float: left;
}
.outer_myNickUpdateCheck{
    border: 1px solid seagreen;
    width: 27%;
    height: 4%;
    margin-left: 30px;
    float: left;
}
.outer_passChange{
    border: 1px solid rosybrown;
    width: 85%;
    height: 4%;
    margin-left: 70px;
}
.outer_passCheck{
    border: 1px solid violet;
    width: 85%;
    height: 4%;
    margin-left: 70px;
}
.outer_Introdeuction{
    border: 1px solid saddlebrown;
    width: 85%;
    height: 17%;
    margin-left: 70px;
}
.nickCheckBtn{
    width: ;
}