.outer_my{
    /* border: 1px solid black; */
    width: 1500px;
    height: 1130px;
    margin: auto;
    margin-top: -0px;
    margin-left: 400px;
    position: absolute;
}
/* .outer_date{
    border: 1px solid red;
    width: 43%;
    height: 100%;
    float: left;
} */
.outer_prof{
    /* border: 1px solid blue; */
    width: 56.4%;
    height: 85%;
    float: left;
}
/* .outer_menu{
    border: 1px solid green;
    width: 21.4%;
    height: 100%;
    float: right;
} */
.outer_MyProf{
    /* border: 1px solid sienna; */
    width: 85%;
    height: 17%;
    margin: auto;
    margin-top: -10px;
}
.outer_Feed{
    /* border: 1px solid rgb(98, 0, 255); */
    width: 85%;
    height: 60%;
    margin: auto;
    margin-top: 0px;
}
.outer_Chall{
    /* border: 1px solid violet; */
    width: 85%;
    height: 60%;
    margin: auto;
    margin-top: 0px;
}
.outer_Tem{
    border: 1px solid rgb(17, 255, 0);
    width: 85%;
    height: 60%;
    margin: auto;
    margin-top: 0px;
}

.outer_btnf{
    /* border: 1px solid salmon; */
    margin: auto;
    width: 85%;
}
.myBtnf{
    width: 33.3%;
    height: 33.5px;
    font-size: 17px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0.1px solid black;
    background-color: Transparent;
}
.outer_myMenu{
    border: 1px solid palevioletred;
    width: 100%;
    height: 94%;
    background-color: darkgrey;
}
.menuBtn{
    border: 1px solid sienna;
    width: 100%;
    height: 5%; 
}
.mybtn1{
    width: 17%;
    height: 100%;
    float: right;
    border: 0;
    background: none;
    background-color: Transparent;
}
.outer_menuPro{
    border: 1px solid royalblue;
    width: 100%;
    height: 8%;
    margin-top: 50px;
    background-color: aqua;
}
.outer_3menu{
     border: 1px solid tomato;
     width: 100%;
     height: 5%;
     background-color: burlywood;
}
.outer_req1{
    border: 1px solid teal;
    width: 100%;
    height: 73%;
    margin-top: 20px;
    background-color: teal;
}
.outer_req2{
    border: 1px solid yellow;
    width: 100%;
    height: 73%;
    margin-top: 20px;
    background-color: yellow;
}
/* .outer_proimgf{
    /* border: 1px solid cornflowerblue; */
    /* width: 30%; */
    /* height: 100%; */
    /* background-color: chartreuse; */
/* } */ 
.outer_idf{
    /* border: 1px solid thistle; */
    width: 69%;
    height: 20%;
    float: right;
    box-sizing: border-box;
    margin-top: -265px;
    /* background-color: cadetblue; */
}
.outer_fallf{
    /* border: 1px solid skyblue; */
    width: 69%;
    height: 20%;
    float: right;
    margin-top: -216px;
    box-sizing: border-box;
    /* background-color: coral; */
}
.outer_contentf{
    /* border: 1px solid thistle; */
    width: 69%;
    height: 37%;
    float: right;
    margin-top: -150px;
    box-sizing: border-box;
    /* background-color: darkcyan; */
}
.outer_feedThum{
    border: 1px solid tomato;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 32.4%;
    height: 33%;
    float: left;
}
.profileImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: gainsboro;
}

.outer_feedImg{
    border: 1px solid blue;
    width: 80%;
    height: 90%;
    float: left;
}
.outer_feedContent{
    border: 1px solid green;
    width: 40%;
    height: 30%;
    float: left;
}
.outer_feedReply{
    border: 1px solid slateblue;
    width: 40%;
    height: 70%;
    float: left;
}
.outer_feedHart{
    border: 1px solid violet;
    height: 10%;
    width: 100%;
    margin-top: 5px;
    float: left;
}
.searchbar{
    width: 70%;
    height: 50px;
}
.searchbtn{
    width: 29.7%;
    height: 50px;
}
.searchUserList{
    border: 1px solid tomato;
    width: 95%;
    height: 610px;
    margin-left: 10px;
    margin-top: 7px;
}
.followAcceptList{
    /* border: 1px solid palevioletred; */
    width: 100%;
    height: 70px;
    margin-top: 5px;
    float: left;
}
.sUserList{
    /* border: 1px solid palevioletred; */
    background-color: #ffffff;
    background-color: rgba(206, 191, 191, 0.13);
    width: 100%;
    height: 70px;
    margin-top: 5px;
    float: left;
}
.followsize{
    /* border: 1px solid violet; */
    width: 100%;
    height: 40px;
}
#serchOuter:hover {
    letter-spacing: 0.3px;
    transform: scale(0.99);
    box-shadow: -5px 0px 25px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all 1.5s;
}

#alerthOuter:hover {
    letter-spacing: 0.3px;
    transform: scale(0.99);
    box-shadow: -5px 0px 25px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all 1.5s;
}

#mbtn:hover{
    letter-spacing: 10px;
    transform: scale(1.3);
    cursor: pointer;
    transition: all 0.5s;
  }

#alerthOuter{
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
    background-color: rgba(203, 203, 203, 0.14);
}

#serchOuter{
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
    /* background-color: rgba(203, 203, 203, 0.14); */
}
#searchbbbar{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #ffffff;
    background-color: rgba(241, 240, 240, 0.077); 
    margin-left: -20px;
    margin-top: 10px;
    background-color:transparent;
    outline: none;
    margin-left: 3px;
}
#delete_outer{
    /* background-color:transparent; */
    height: 280px;
    border: 1px solid rgba(144, 142, 144, 0.279);
    background-color: #ffffff;
    background-color: rgba(232, 85, 215, 0.048); 
}
#delete_outer1{
    height: 180px;
    border: 1px solid rgba(144, 142, 144, 0.279);
    background-color: #ffffff;
    background-color: rgba(81, 78, 81, 0.095); 
}
.nickFont{
    font-size: 30px;
    font-family: 'SourceSansPro-Light';
}

.scrollBar::-webkit-scrollbar {
    width: 7px;  /* 스크롤바의 너비 */
    height: 0px;
}

.scrollBar::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: white; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}
#hbtn:hover{
    letter-spacing: 10px;
    transform: scale(1.3);
    cursor: pointer;
    transition: all 0.5s;
  }
.outer_myChallList{
    border: 1px solid blue;
    height: 200px;
}

.talk::-webkit-scrollbar {
    width: 7px;  /* 스크롤바의 너비 */
    height: 0px;
}
.talk::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: white; /* 스크롤바의 색상 */
    border-radius: 10px;
}
.outer_Feed::-webkit-scrollbar {
    width: 7px;  /* 스크롤바의 너비 */
    height: 0px;
}
.outer_Feed::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: none; /* 스크롤바의 색상 */
    border-radius: 10px;
}
.clickFeed:hover{
    letter-spacing: 1px;
    transform: scale(1.03);
    cursor: pointer;
    transition: all 0.5s;
  }

.serchOuter::-webkit-scrollbar {
    width: 7px;  /* 스크롤바의 너비 */
    height: 0px;
}
.serchOuter::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: none; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.outer_Chall::-webkit-scrollbar {
    width: 7px;  /* 스크롤바의 너비 */
    height: 0px;
}
.outer_Chall::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: none; /* 스크롤바의 색상 */
    border-radius: 10px;
}

#myChalldiv{
    background-color: #ffffff;
    background-color: rgba(240, 235, 235, 0.097);
    color: black;
}
#myChalldiv:hover{
    transition: all 0.3s linear;
    transform: scale(1.01);
    width: 100px;
    margin: 0px auto;
    overflow: hidden;
}

