.back-button{
    width: 40px;
    height: 40px;
}
.back-button img{
    width: 40px;
    height: 40px;
}
.back-button img:hover{
    -webkit-filter: drop-shadow(2px 1px 0 black)
    drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(2px 1px 0 black)
    drop-shadow(-1px -1px 0 black);
}