.template-write{
    background-color: #c780e2;
    border-radius: 30px;
    height: 100%;

}
.btnBox{
    margin-top:10px;
    margin-right: 5px;
    display: inline-flex;
}

.template-input{
    display: flex;
    padding: 20px;
    width: 80%;
    height: 15%;
}
/*.template-input input,#template-input select{*/
/*    align-content: center;*/
/*}*/
.tpdiv1 { grid-area: 1 / 1 / 2 / 2; }
.tpdiv2 { grid-area: 1 / 2 / 2 / 3; }
.tpdiv3 { grid-area: 2 / 1 / 3 / 2; }
.tpdiv4 { grid-area: 2 / 2 / 3 / 3; }
#templatetodo-input {
    margin: auto;
    height: 77%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    row-gap: 1px;
    column-gap: 1px;
    overflow: scroll;
    /*grid-template-rows: repeat(7, 1fr);*/
}
#templatetodo-input>div{
    border: 1px solid black;
    height: 100px;
    width: 120px;

}
.days>.content{
    overflow: hidden;
    text-overflow: ellipsis;
}
.days{
    background-color: white;
}
.days>.content,.days>.dayCount{
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.hiddenbtn{
    display: none;
}
.inputbtn{
    background-color: #e6e6e6;
}
.onSelect{
    background-color: yellow;
}
.insertTodoContent{
    width: 200px;
    background-color: #76baff;
    border-radius: 5px;
}