@font-face{
    font-family: "SourceSansPro-Black";
    src: url("./SourceSansPro-Black.ttf");
}
@font-face{
    font-family: "SourceSansPro-Light";
    src: url("./SourceSansPro-Light.ttf");
}
@font-face{
    font-family: "NanumGothic-Regular";
    src: url("./NanumGothic-Regular.ttf");
}
@font-face{
    font-family: "Quicksand-Regular";
    src: url("./Quicksand-Regular.ttf");
}
@font-face{
    font-family: "PTSansNarrow-Regular";
    src: url("./PTSansNarrow-Regular.ttf");
}
@font-face{
    font-family: "Lobster-Regular";
    src: url("./Lobster-Regular.ttf");
}


@font-face {
    font-family: 'Binggrae-Two';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
}


@font-face {
    font-family: 'KoPubWorldDotum';
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.ttf') format("truetype");
    font-display: swap;
}